body {
    font-family: Arial, sans-serif;
    background-color: #bcecf5;
    margin: 0;
    padding: 0;
}

.navgbar {
    background-color: #42c3ff;
    overflow: hidden;
    padding: 10px;
}

.navgbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navgbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px #bcecf5;
}

h1 {
    color: #42c3ff;
}

img {
    max-width: 100%;
    display: block;
    margin: 20px 0;
}
